* {
  box-sizing: border-box;
  font-family: $primary-font;
}

img {
  max-width: 100%;
}

body {
  $background-figure-border-size: 200px;
  
  background-color: $background;
  padding: 4rem 2rem;
  position: relative;
  margin: 0;

  &::before,
  &::after {
    --background: hsl(276, 55%, 52%);
    
    content: '';
    position: absolute;
    width: 50%;
    height: 75vh;
    z-index: -1;
    background-color: var(--background);
  }

  &::before {
    top: 0;
    left: 0;
    border-bottom-right-radius: $background-figure-border-size;
  }

  &::after {
    --background: hsl(276, 100%, 81%, .18);
    
    bottom: 0;
    right: 0;
    border-top-left-radius: $background-figure-border-size;
  }
}

h2,
p {
  margin: 0;
}
