* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: #f0f0f0;
  padding: 4rem 2rem;
  position: relative;
  margin: 0;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 75vh;
  border-bottom-right-radius: 200px;
  background-color: #9241c8;
  z-index: -1;
}

h2,
p {
  margin: 0;
}

.chat {
  max-width: 475px;
  margin: auto;
  border-radius: 50px;
  border: 15px solid white;
  background-color: #f0f0f0;
  overflow: hidden;
}
.chat__header {
  position: relative;
  padding: calc(50px / 2 + 1rem) 1rem 1rem;
  background-image: linear-gradient(to left, #e942ff, #8838ff);
  display: flex;
  align-items: center;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.chat__header::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 50px;
  border-radius: 20px;
  background-color: white;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.chat__left-icon, .chat__right-icon {
  color: white;
}
.chat__left-icon {
  margin-right: 0.5rem;
}
.chat__right-icon {
  margin-left: 0.5rem;
}
.chat__content {
  padding: 1rem 0.75rem;
}
.chat__message-container {
  display: flex;
}
.chat__message-container--justify-start {
  justify-content: flex-start;
}
.chat__message-container--justify-end {
  --message-background: white;
  --message-color: #434343;
  justify-content: flex-end;
}
.chat__message-container:not(:last-child) {
  margin-bottom: 0.75rem;
}
.chat__message {
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 0.8rem;
  max-width: 70%;
  line-height: 1.4;
  background-color: var(--message-background, #d89eff44);
  color: var(--message-color, #9241c8);
}
.chat__image {
  width: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 5px rgba(62, 39, 83, 0.05);
}
.chat__image:not(:last-child) {
  margin-right: 0.75rem;
}

.price {
  background-image: linear-gradient(to right, #e942ff, #8838ff);
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  display: flex;
  align-items: center;
  width: 75%;
  color: #ffffffaa;
  border-radius: 15px 15px 15px 8px;
}
.price__icon {
  margin-right: 0.5rem;
}
.price__time {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
.price__money {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.user__left {
  margin-right: 1rem;
}
.user__profile-picture {
  width: 30px;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
}
.user__name {
  font-weight: 500;
  font-size: 0.9rem;
  color: #ffffff;
}
.user__status {
  font-size: 0.8rem;
  color: #ffffffaa;
}